@media only screen and (min-width: 800px){
.hero{
    background-color: red;
    .description{
    display: flex;
    flex-direction: row;
        div{
            width: 40%;
        }
    }
}
    
}