@media only screen and (min-width: 800px){
body{
    .decription{
        display: flex;
        flex-direction: row;
        div:first-child{
            width: 40%;
        }
    }

    .Featuress{
        display: flex;
        
    }
}
   
}
