@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --secondary-color: #ffb127;
  --hover-color: #fec11e;
}

body {
  font-family: "Noto Sans", sans-serif;
  hr {
    border: 2px solid var(--hover-color);
    width: 20%;
    margin: 0;
  }
}

.hero {
  background: linear-gradient(130deg, #002f42 30%, #008568 100%);
  padding: 20px 4%;
  margin: 0 20px;
  border-radius: 0 0 20px 20px;
  color: white;

  h1 {
    font-size: 2.5rem;
  }

  h2 span {
    color: #fec11e;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    ul {
      width: 20%;
    }
    ul li {
      list-style: none;
      float: left;
      width: 40%;
      margin-left: 10px;
    }

    ul li a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      display: block;
      padding: 0.2rem 0.1rem;
      text-align: center;
    }

    ul li:nth-child(2) a {
      background-color: var(--secondary-color);
      border-radius: 5px;
    }
    ul li:nth-child(2) a:hover {
      background-color: var(--hover-color);
      scale: 1.03;
      transition: scale ease 0.2s;
    }
  }

  .search {
    margin-top: 20px;
    width: fit-content;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: white;
    padding: 0.5rem 1rem;
    border: none;

    button {
      background-color: transparent;
      border: none;
      color: white;
      font-size: 1.1rem;
    }
  }
  .search:hover {
    background-color: var(--hover-color);
    margin-left: 0.2rem;
    transition: margin-left ease 0.3s;
  }

  .img-hero {
    width: 60%;
    padding-left: 85px;
    position: relative;
    bottom: -50px;
    img {
      width: 100%;
    }
  }
}
.measure {
  img {
    width: 70vw;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(70, 70, 70, 0.342);
  }
  text-align: center;
  position: relative;
  bottom: 38px;
  //margin-top: -105px;
}
.Featuress {
  width: 70%;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;

  .dot {
    width: 5px;
    height: 5px;
    margin: 5px;
    padding: 0;
    background-color: #feb027;
    border-radius: 50%;
  }
  .dot_design {
    display: grid;
    grid-template-columns: repeat(12, 20px);
    justify-items: center;
    position: relative;
    left: -50px;
    bottom: 100px;
    z-index: -1;
  }

  h2 {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1.5rem;
  }
  h2,
  h3 {
    color: #022a5b;
    font-weight: bold;
  }
  div:nth-child(2) {
    padding: 0 0 0 5%;
  }

  img {
    border-radius: 20px 0 20px 0;
    box-shadow: 0 20px 20px rgba(70, 70, 70, 0.342);
  }
}

.services {
  background-color: #022a5b;
  color: white;
  margin:0 2% 100px 2%;
  padding: 1%;

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 150px); //defile una altura fija
    gap: 10px;
    padding: 20px 200px;
    .item {
      overflow: hidden;
      cursor: pointer;
      position: relative; //al valor p colocarle position absolute para que no se salga de la cuadrícula
      img {
        height: 100%;
        width: 100%;
        border-radius: 50px;
        object-fit: cover;
        transition: transform 0.5s ease;
      }

      .capa {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        background-color: rgba(86, 111, 158, 0.486);
        opacity: 0;
        visibility: hidden;
        transition: all 400ms ease;
        .services_links{
            position: relative;
            bottom: -80%;
            padding: 0 2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            h2, hr,span{
                color: white;
                font-weight: bold;
                transition: left 1s ease;
        }
            h2{
                font-size: 20px;
                width: 100%;
            }

                img{
                    width:20% ;
                    border: solid 1px white;
                    padding: 0.6rem 1rem;
                    border-radius: 5px;
                    align-self: center;
                }
                hr{margin-top: 7px;}

                

        }
        
      }
    }
    
    .item:hover .capa{
        opacity: 1;
        visibility: visible;
        
    }
    .item:hover .capa h2{
        left: 2%;
    }
    
    
    .item:nth-child(2){
       grid-column: 2/3;
       grid-row: 1/5;
       .services_links{
        bottom: -90%;
       }
    }
    .item:nth-child(3){
       grid-column: 3/4;
       grid-row: 1/3;
    }
    .item:nth-child(4){
       grid-column: 3/4;
       grid-row: 3/5;
    }
    .item:nth-child(5){
       grid-column: 1/2;
       grid-row: 2/5;
       .services_links{
        bottom: -85%;
       }
    }
    
  }
}
